<!--
	This file is part of cnesreport.

	cnesreport is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	cnesreport is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with cnesreport.  If not, see <http://www.gnu.org/licenses/>.
-->

<div id="bd" class="page-wrapper-simple">
    <div id="nonav" class="page-simple" style="width:100%; margin-left: 10%; margin-right: 10%;">
        <div>
            <h1 class="maintenance-title text-center">Analyze a project</h1>
            <form id="analyze-form">
                <p style="color: red;">You need more permissions to see this page, log into an account with more privileges or ask an administrator.</p>
            </form>
        </div>
    </div>
</div>